/* Add this at the top of your LandingPage.css */
.circle-container {
  position: absolute;
  animation-name: move;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-delay: var(--animation-delay);
  animation-duration: var(--move-duration);
  width: var(--circle-size);
  height: var(--circle-size);
}

.circle {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  animation-name: var(--scale-direction), fade; 
  animation-duration: var(--scale-duration), var(--fade-duration);
  animation-delay: var(--scale-delay), var(--fade-delay);
  animation-iteration-count: infinite, infinite;
  background-color: hsl(180, 100%, 80%);
}
.circle2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  animation-name: var(--scale-direction), fade2; 
  animation-duration: var(--scale-duration), var(--fade-duration);
  animation-delay: var(--scale-delay), var(--fade-delay);
  animation-iteration-count: infinite, infinite;
  background-color: hsl(180, 100%, 80%);
}

@keyframes scaleUp {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(2);
  }
}

@keyframes scaleDown {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.5);
  }
}

@keyframes move {
  0% {
    transform: translate3d(var(--start-position-x), var(--start-position-y), 0);
  }
  100% {
    transform: translate3d(var(--end-position-x), var(--end-position-y), 0);
  }
}

@keyframes fade {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0.2;
  }
}
@keyframes fade2 {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}

* {
    margin: 0;
    padding: 0;
  }
  
  html, body {
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  
  body {
    background-color: yellow;
  }
  
  .container {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
  }
  
  .background {
    background-image: url("main.jpg");
    
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
    display: block;
    top: 0;
    left: 0;
    object-fit: cover;
    width: 100%;
    height: 100%;
    mask-image: radial-gradient(white 0%, white 30%, transparent 80%, transparent);

  }
  .mycontainer {
    position: absolute;
    margin: 20px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-left: -250px;
  }
  .mycontainer2 {
    position: absolute;
    margin: 20px;
    width: auto;
    display: flex;
    justify-content: flex-start;
    margin-left: 250px;
  }
  
  /* The navbar */
  .topnav {
    overflow: hidden;
    background-color: #333;
  }
  
  /* Navbar links */
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 15px;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .circle-container {
    position: absolute;
    transform: translateY(-10vh);
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }
  
  .circle-container .circle {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    mix-blend-mode: screen;
    background-image: radial-gradient(hsl(180, 100%, 80%), hsl(180, 100%, 80%) 10%, hsla(180, 100%, 80%, 0) 56%);
    animation: fadein-frames 200ms infinite, scale-frames 2s infinite;
  }
  
  .body{
    width: 100px;
    height: 100px;
  }
  
  @keyframes fade-frames {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0.7;
    }
    100% {
      opacity: 1;
    }
  }
  
  @keyframes scale-frames {
    0% {
      transform: scale3d(0.4, 0.4, 1);
    }
    50% {
      transform: scale3d(2.2, 2.2, 1);
    }
    100% {
      transform: scale3d(0.4, 0.4, 1);
    }
  }
  
  .message {
    position: absolute;
    right: 20px;
    bottom: 10px;
    color: white;
    font-family: "Josefin Slab", serif;
    line-height: 27px;
    font-size: 18px;
    text-align: right;
    pointer-events: none;
    animation: message-frames 1.5s ease 5s forwards;
    opacity: 0;
  }
  
  @keyframes message-frames {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }